.toggle {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
}
.toggle.disabled {
  opacity: 0.3;
}
.toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle .cToggle_span {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}
.toggle .cToggle_span::selection {
  background-color: transparent;
}
.toggle .cToggle_span:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.toggle ~ input:checked + .cToggle_span {
  background-color: #C39EF9;
}
.toggle ~ input:checked ~ .cToggle_span:before {
  background-color: #6200EE;
}
.toggle ~ input:checked + .cToggle_span:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}